"UTC_Time" datetime to unix timestamp
"UTC_Time" is "time"
"Operation" is "type"
"Coin" is "buy_currency" and "sell_currency"
"Change" is "buy" and "sell"

if "Operation"=="Buy" then "buy_currency" = "Coin" and "buy" = "Change", "sell_currency" = last Deposit "buy_currency" and "type" = "Trade"
if "Operation"=="Fee" then "sell_currency" = "Coin" and "sell" = "Change" (to positive) and "type" = "Other Fee"
if "Super BNB Mining" then "Mining"
if "Operation"=="Buy" and "Change" < 0 then ignore
if "Operation"=="Referral Kickback" then "type" = "Reward/Bonus"

